<form name="form1">
  State: <select name="state" id="state" (change)="selectChangeHandler($event)">
    <option value="" selected="selected">select State</option>
    <option value="Maharashtra">Maharashtra</option>
    <option value="MP">MP</option>
    <option value="UP">UP</option>
  </select>
  <br><br>
  City: <select name="city" id="city">
    <option value="" selected="selected">Select State First</option>
    <option *ngFor="let item of list" value="">{{item}}</option>
  </select>
</form>